html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    background-color: white;
}

* {
    font-weight: normal;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#iphone-6 {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    -webkit-transform: translate3d(0, 0, 0);
}

#iphone-6 .screen {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    overflow: hidden;
}

#wrapper {
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-perspective: 600px;
    -o-perspective: 600px;
    -ms-perspective: 600px;
    perspective: 600px;
}

#container {
    width: 100%;
    height: 100%;
}

.page {
    position: absolute;
    height: 837px;
    width: 584px;
    left: 50%;
    transition: -webkit-transform .75s ease;
    
    -webkit-transform: rotate3d(1,0,0, -30deg) translate3d(-50%, 0, 0) scale3d(1,1,1);
    transform: rotate3d(1,0,0, -30deg) translate3d(-50%, 0, 0) scale3d(1,1,1);
    
    -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
    
    box-shadow: 0px -10px 50px 0px rgba(0, 0, 0, 0.3);
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .55));
}

.activated {
    position: fixed;

    top: 50% !important;
    left: 50%;
    transition: -webkit-transform .75s ease;
    transition: transform .75s ease;
    transition: transform .75s ease, -webkit-transform .75s ease;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;

    -webkit-transform-origin: center;
            transform-origin: center;

    z-index: 999;
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

.page-container {
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    position: fixed;
    -webkit-transform: rotate3d(0, 0, 0, 0deg) translate3d(-50%,-50%,0) scale3d(1,1,1);
    transform: rotate3d(0, 0, 0, 0deg) translate3d(-50%,-50%,0) scale3d(1,1,1);
    z-index: 9999;
}







/* Small */
.scaled-1{
    -webkit-transform: rotate3d(0, 0, 0, 0deg) translate3d(-50%, -50%, 0) scale3d(0.8,0.8,0.8);
    transform: rotate3d(0, 0, 0, 0deg) translate3d(-50%, -50%, 0) scale3d(0.8,0.8,0.8);
}

/* Medium */
.scaled-2{
    -webkit-transform: rotate3d(0, 0, 0, 0deg) translate3d(-50%, -50%, 0) scale3d(0.9,0.9,0.9);
    transform: rotate3d(0, 0, 0, 0deg) translate3d(-50%, -50%, 0) scale3d(0.9,0.9,0.9);
}

/* Normal */
.scaled-3{
    -webkit-transform: rotate3d(0, 0, 0, 0deg) translate3d(-50%, -50%, 0) scale3d(1,1,1);
    transform: rotate3d(0, 0, 0, 0deg) translate3d(-50%, -50%, 0) scale3d(1,1,1);
}

#p1.page {
    top: 50px;
}

#p2.page {
    top: 200px;
}

#p3.page {
    top: 350px;
}

#p4.page {
    top: 500px;
}

#p5.page {
    top: 650px;
}

#p6.page {
    top: 800px;
}

#p7.page {
    top: 950px;
}

#p8.page {
    top: 1100px;
}

#p9.page {
    top: 1250px;
}

#p10.page {
    top: 1400px;
}

#p11.page {
    top: 1550px;
}

#p12.page {
    top: 1700px;
}

#p13.page {
    top: 1850px;
}

#p14.page {
    top: 2000px;
}

#p15.page {
    top: 2150px;
}

.page{
    background-color: white;
}

/* ==================================================== */
/* Text Styling */
/* ==================================================== */

.large-text {
    font-size: 42px;
    text-align: center;
    margin-top: 200px;
    letter-spacing: 1px;
    font-weight: 900;
}

.medium-text {
    font-size: 18px;
}

#author {
    text-align: center;
    margin-top: 440px;
}

.section-number {
    text-align: center;
    margin-top: 50px;
    font-size: 28px;
    font-weight: 900;
}

.title {
    text-align: center;
    font-style: italic;
    margin-top: 12px;
}

.page-number {
    text-align: center;
    margin-top: 70px;
    font-weight: 900;
    font-size: 12px;
}

.main-text-box {
    margin-top: 54px;
    white-space: pre-line;
    width: 345px;
    position: absolute;
    text-align: justify;
    font-size: 11.5px;
    line-height: 17px;
    letter-spacing: 0;
    word-spacing: 0px;
    left: 50%;
    transition: -webkit-transform .75s ease;
    transition: transform .75s ease;
    transition: transform .75s ease, -webkit-transform .75s ease;

    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
}

span.new-paragraph-first-chapter {
    margin-left: 0;
}

.new-paragraph{
    margin-left: 26px;
}

span.drop-cap {
    font-size: 40px;
    padding-top: 8px;
    float: left;
}

span.italic {
    font-style: italic;
}

span.italic.tweaked {
    letter-spacing: -0.1px;
    word-spacing: 0px;
}

p.broken {
    margin: 0;
    text-align: justify;
    -moz-text-align-last: justify;
         text-align-last: justify;
        word-spacing: 0.5px;
    letter-spacing: 0.1px;
}

p.broken.tweaked {
    margin: 0;
    text-align: justify;
    -moz-text-align-last: justify;
         text-align-last: justify;
    word-spacing: 0.2px;
    letter-spacing: 0.1px;
}
p.broken.tweaked-more {
    margin: 0;
    text-align: justify;
    -moz-text-align-last: justify;
         text-align-last: justify;
    word-spacing: 0px;
    letter-spacing: 0px;
}

p.broken.alternate {
    margin: 0;
    text-align: justify;
    -moz-text-align-last: justify;
         text-align-last: justify;
    word-spacing: 0px;
    letter-spacing: -0.1px;
}

p.broken.alternate-more {
    margin: 0;
    text-align: justify;
    -moz-text-align-last: justify;
         text-align-last: justify;
    word-spacing: 0px;
    letter-spacing: -0.3px;
}
p.broken.tweak-word-spacing{
    margin: 0;
    text-align: justify;
    -moz-text-align-last: justify;
         text-align-last: justify;
    word-spacing: -0.1px;
    letter-spacing: 0px;
}
p.broken.letter-word-spacing{
    margin: 0;
    text-align: justify;
    -moz-text-align-last: justify;
         text-align-last: justify;
    word-spacing: -0.1px;
    letter-spacing: 0px;
}


#p6-text-box > div.main-text-box > p,
#p9-text-box > div.main-text-box > p {
    margin-bottom: -18px;
}