html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    background-color: white;
}

* {
/*    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;*/
    font-weight: normal;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/** {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}*/

#iphone-6 {
    width: 100%;
    height: 100%;
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    background-color: white;
    -webkit-transform: translate3d(0, 0, 0);
}

#iphone-6 .screen {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    overflow: hidden;
    /* top: 50%; */
    /* left: 50%; */
    /* -webkit-transform: translate(-50%, -50%); */
    /* transform: translate(-50%, -50%); */
}

#wrapper {
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-perspective: 600px;
    -o-perspective: 600px;
    -ms-perspective: 600px;
    perspective: 600px;
}

#container {
    width: 100%;
    height: 100%;
    /*    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);*/
    /*        -webkit-perspective: 600px;
    -o-perspective: 600px;
    -ms-perspective: 600px;
    perspective: 600px;*/
}


/*.position-fixed {
    top: 50% !important;
    left: 50% !important;
    -webkit-transform: translate3d(-50%, -50%, 0) !important;
    transform: translate3d(-50%, -50%, 0) !important;
    position: absolute; !important;

            -webkit-perspective: 600px;
    -o-perspective: 600px;
    -ms-perspective: 600px;
    perspective: 600px;
}*/

.page {
    position: absolute;
    /*    height: 767px;
    width: 524px;*/
    height: 837px;
    width: 584px;
    left: 50%;
    -webkit-transition: -webkit-transform .75s ease;
            transition: -webkit-transform .75s ease;
    transition: transform .75s ease;
    -webkit-transition: -webkit-transform .75s ease, -webkit-transform .75s ease;
            transition: transform .75s ease, -webkit-transform .75s ease;
    -webkit-transform: rotateX(-30deg) translate3d(-50%, 0, 0);
    transform: rotateX(-30deg) translate3d(-50%, 0, 0);
    -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
    box-shadow: 0px -10px 50px 0px rgba(0, 0, 0, 0.3);
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .55));
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .55));
    background-size: cover;
}

.activated {
    position: fixed;
    /*    height: 100%;
    width: 100%;*/
    top: 50% !important;
    left: 50%;
    -webkit-transition: -webkit-transform .75s ease;
            transition: -webkit-transform .75s ease;
    transition: transform .75s ease;
    -webkit-transition: -webkit-transform .75s ease, -webkit-transform .75s ease;
            transition: transform .75s ease, -webkit-transform .75s ease;
    -webkit-transform: rotateX(0deg) translate3d(-50%, -50%, 0);
    transform: rotateX(0deg) translate3d(-50%, -50%, 0);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    /*left: 0;
top: 0 !important;*/
    /*    -webkit-transform: rotateX(0deg) translate3d(0,0,0);
    transform: rotateX(0deg) translate3d(0, 0, 0);*/
    -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
    /*    z-index: 999;*/
    background: white;
    overflow: hidden;
    /*    margin-top: 0px;
*/
    background-size: cover;
    /*    -webkit-perspective: 600px;
    -o-perspective: 600px;
    -ms-perspective: 600px;
    perspective: 600px;*/
}


/*.hidden {
    display: none;
    -webkit-transform: translate3d(0,0,0);
}*/


/*.visible {
    display: block;
    -webkit-transform: translate3d(0,0,0);
}*/

.box-shadow-hide {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.box-shadow {
    box-shadow: 0px -10px 50px 0px rgba(0, 0, 0, 0.3);
}

#p1.page {
    top: 50px;
    /*background-image: url('../img/dracula FINAL-1.jpg');*/
    background-color: white;
}

#p2.page {
    top: 200px;
    /*background-image: url('../img/dracula FINAL-2.jpg');*/
    background-color: white;
}

#p3.page {
    top: 350px;
    /*background-image: url('../img/dracula FINAL-3.jpg');*/
    background-color: white;
}

#p4.page {
    top: 500px;
    /*background-image: url('../img/dracula FINAL-4.jpg');*/
    background-color: white;
}

#p5.page {
    top: 650px;
    /*background-image: url('../img/dracula FINAL-5.jpg');*/
    background-color: white;
}

#p6.page {
    top: 800px;
    /*background-image: url('../img/dracula FINAL-6.jpg');*/
    background-color: white;
}

#p7.page {
    top: 950px;
    /*background-image: url('../img/dracula FINAL-7.jpg');*/
    background-color: white;
}

#p8.page {
    top: 1100px;
    /*background-image: url('../img/dracula FINAL-8.jpg');*/
    background-color: white;
}

#p9.page {
    top: 1250px;
    /*background-image: url('../img/dracula FINAL-9.jpg');*/
    background-color: white;
}

#p10.page {
    top: 1400px;
    /*background-image: url('../img/dracula FINAL-10.jpg')*/
    background-color: white;
}

#p11.page {
    top: 1550px;
    /*background-image: url('../img/dracula FINAL-11.jpg')*/
    background-color: white;
}

#p12.page {
    top: 1700px;
    /*background-image: url('../img/dracula FINAL-12.jpg')*/
    background-color: white;
}

#p13.page {
    top: 1850px;
    /*background-image: url('../img/dracula FINAL-13.jpg')*/
    background-color: white;
}

#p14.page {
    top: 2000px;
    /*background-image: url('../img/dracula FINAL-14.jpg')*/
    background-color: white;
}

#p15.page {
    top: 2150px;
    /*background-image: url('../img/dracula FINAL-15.jpg')*/
    background-color: white;
}


/* ==================================================== */


/* Text Styling */


/* ==================================================== */

.large-text {
    font-size: 42px;
    text-align: center;
    margin-top: 200px;
    letter-spacing: 1px;
    font-weight: 900;
}

.medium-text {
    font-size: 18px;
}

#author {
    text-align: center;
    margin-top: 440px;
}

.section-number {
    text-align: center;
    margin-top: 50px;
    font-size: 28px;
    font-weight: 900;
}

.title {
    text-align: center;
    font-style: italic;
    margin-top: 12px;
}

.page-number {
    text-align: center;
    margin-top: 70px;
    font-weight: 900;
    font-size: 12px;
}

.main-text-box {
    margin-top: 54px;
    white-space: pre-line;
/*    width: 327px;
*/
    width: 345px;
    position: absolute;
    text-align: justify;
    font-size: 11.5px;
    line-height: 17px;
    letter-spacing: 0;
    word-spacing: 0px;
    left: 50%;
    -webkit-transition: -webkit-transform .75s ease;
            transition: -webkit-transform .75s ease;
    transition: transform .75s ease;
    -webkit-transition: -webkit-transform .75s ease, -webkit-transform .75s ease;
            transition: transform .75s ease, -webkit-transform .75s ease;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
}

span.new-paragraph-first-chapter {
    margin-left: 0;
}

.new-paragraph{
    margin-left: 26px;
}

span.drop-cap {
    font-size: 40px;
    padding-top: 8px;
    float: left;
}

span.italic {
    font-style: italic;
}

span.italic.tweaked {
    letter-spacing: -0.1px;
    word-spacing: 0px;
}

p.broken {
    margin: 0;
    text-align: justify;
    -moz-text-align-last: justify;
         text-align-last: justify;
        word-spacing: 0.5px;
    letter-spacing: 0.1px;
}

p.broken.tweaked {
    margin: 0;
    text-align: justify;
    -moz-text-align-last: justify;
         text-align-last: justify;
    word-spacing: 0.2px;
    letter-spacing: 0.1px;
}
p.broken.tweaked-more {
    margin: 0;
    text-align: justify;
    -moz-text-align-last: justify;
         text-align-last: justify;
    word-spacing: 0px;
    letter-spacing: 0px;
}

p.broken.alternate {
    margin: 0;
    text-align: justify;
    -moz-text-align-last: justify;
         text-align-last: justify;
    word-spacing: 0px;
    letter-spacing: -0.1px;
}

p.broken.alternate-more {
    margin: 0;
    text-align: justify;
    -moz-text-align-last: justify;
         text-align-last: justify;
    word-spacing: 0px;
    letter-spacing: -0.3px;
}
p.broken.tweak-word-spacing{
    margin: 0;
    text-align: justify;
    -moz-text-align-last: justify;
         text-align-last: justify;
    word-spacing: -0.1px;
    letter-spacing: 0px;
}
p.broken.letter-word-spacing{
    margin: 0;
    text-align: justify;
    -moz-text-align-last: justify;
         text-align-last: justify;
    word-spacing: -0.1px;
    letter-spacing: 0px;
}


#p6-text-box > div.main-text-box > p,
#p9-text-box > div.main-text-box > p {
    margin-bottom: -18px;
}