html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    background-color: white;
}

* {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#iphone-6 {
    width: 100%;
    height: 100%;
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    background-color: white;
}

#iphone-6 .screen {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    overflow: hidden;
    /* top: 50%; */
    /* left: 50%; */
    /* -webkit-transform: translate(-50%, -50%); */
    /* transform: translate(-50%, -50%); */
}

#wrapper {
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-perspective: 600px;
    -o-perspective: 600px;
    -ms-perspective: 600px;
    perspective: 600px;
}

#container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.position-fixed {
    top: 50% !important;
    left: 50% !important;
    -webkit-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
    position: fixed !important;
}

.page {
    height: 972px;
    width: 664px;
    position: absolute;
    -webkit-transition: transform .75s ease;
    transition: transform .75s ease;
    left: 50%;
    -webkit-transform: rotateX(-30deg) translate(-50%, 0%);
    transform: rotateX(-30deg) translate(-50%, 0%);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    box-shadow: 0px -10px 50px 0px rgba(0, 0, 0, 0.3);
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .65));
    background-size: cover;
}

.activated {
    -webkit-transition: transform .75s ease;
    transition: transform .75s ease;
    -webkit-transform: rotateX(0deg) translate(-50%, -50%);
    transform: rotateX(0deg) translate(-50%, -50%);
    height: 100%;
    width: 100%;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    top: 50% !important;
    left: 50%;
    z-index: 999;
    background: white;
    position: fixed;
    overflow: hidden;
    margin-top: 0px;
    background-size: cover;
    -webkit-perspective: 600px;
    -o-perspective: 600px;
    -ms-perspective: 600px;
    perspective: 600px;
}

.individual-page {
    width: 100%;
    height: 100%;
    z-index: 999999;
}

.hidden {
    display: none;
}

.box-shadow-hide {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.box-shadow {
    box-shadow: 0px -10px 50px 0px rgba(0, 0, 0, 0.3);
}

#p1.page {
    top: 50px;
    background-image: url('../img/dracula FINAL-1.jpg');
}

#p2.page {
    top: 200px;
    background-image: url('../img/dracula FINAL-2.jpg');
}

#p3.page {
    top: 350px;
    background-image: url('../img/dracula FINAL-3.jpg');
}

#p4.page {
    top: 500px;
    background-image: url('../img/dracula FINAL-4.jpg');
}

#p5.page {
    top: 650px;
    background-image: url('../img/dracula FINAL-5.jpg');
}

#p6.page {
    top: 800px;
    background-image: url('../img/dracula FINAL-6.jpg');
}

#p7.page {
    top: 950px;
    background-image: url('../img/dracula FINAL-7.jpg');
}

#p8.page {
    top: 1100px;
    background-image: url('../img/dracula FINAL-8.jpg');
}

#p9.page {
    top: 1250px;
    background-image: url('../img/dracula FINAL-9.jpg');
}

#p10.page {
    top: 1400px;
    background-image: url('../img/dracula FINAL-10.jpg');
}

#p11.page {
    top: 1550px;
    background-image: url('../img/dracula FINAL-11.jpg');
}

#p12.page {
    top: 1700px;
    background-image: url('../img/dracula FINAL-12.jpg');
}

#p13.page {
    top: 1850px;
    background-image: url('../img/dracula FINAL-13.jpg');
}

#p14.page {
    top: 2000px;
    background-image: url('../img/dracula FINAL-14.jpg');
}

#p15.page {
    top: 2150px;
    background-image: url('../img/dracula FINAL-15.jpg');
}


/* ==================================================== */


/* Text Styling */


/* ==================================================== */

span {
    margin-left: 40px;
}

.large-text {
    font-size: 60px;
    text-align: center;
    margin-top: 200px;
    letter-spacing: 1px;
}

.medium-text {
    font-size: 27px;
}

#author {
    text-align: center;
    margin-top: 625px;
}

.section-number {
    text-align: center;
    margin-top: 50px;
    font-size: 28px;
    font-weight: 900;
}

.title {
    text-align: center;
    font-style: italic;
    margin-top: 11px;
}

.page-number {
    text-align: center;
    margin-top: 100px;
    font-weight: 900;
}

.main-text-box {
    white-space: pre-line;
    width: 519px;
    /*    margin: 0 auto;
*/
    text-align: justify;
    font-size: 17px;
    line-height: 23px;
    letter-spacing: 0.1px;
    word-spacing: 0.3px;
    margin: 0 auto;
    /*    left: 124.5px;
    position: absolute;*/
    /*    left: 50%;
    transform: translate(-50%);
    position: absolute;*/
}